/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1340px) {
	.slider-billbord__item {
		padding-left: 70px;
	}
	.slider-billbord__smallbig {
		left: 150px;
	}
	.item-product__name {
		font-size: 14px;
	}
	.item-product__price span {
		font-size: 16px;
	}
	.item-product__price {
		font-size: 13px;
	}
.header-catalog:hover .list-catalog {
    width: calc(100vw - 120px);
}
.dropdowm-catalog {
   width: calc(100vw - 370px);
    left: 245px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.show_mobile {
	display: none !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.btn-menu ,
.mobile-search-btn {
	display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1388px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1388px;
	}
}